@model List<string>
@{
    ViewData["Title"] = "User Profile";
}
@{
    if (Model != null && Model.Count > 0)
    {
        <h5 style="color:red">Le tue canzoni sono:</h5>
        foreach (string canzone in Model)
        {
            <div>@canzone</div>
        }
    }
    else
    {
        <h5 style="color:red">Non hai canzoni</h5>
    }
}